.task {
    color: black;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 4px;
    margin-top: 17px;
    transition: width 2s;

    &__title {
        padding: 6px;
        font-size: 13px;
        border-bottom: solid;
        border-bottom-width: 0.1px;
        border-bottom-color: orange;
    }
   
    &__description {
        padding: 6px;
        font-size: 13px;
    }


}